<!-- Describe task in general -->

<p>
    Vous devez compter le nombre de lignes non vides d'un texte donné.
</p>

<p>Une ligne vide est une ligne qui ne contient pas de symboles ou qui ne contient que des espaces.</p>

<!-- Explain input and output values -->
<p>
   <strong>Données d'entrée:</strong> Un texte.
</p>

<p>
   <strong>Sortie:</strong> {% if is_js %}Un <span>nombre</span> <span>(number)</span>{% else %} Un <span>entier</span> <span>(integer)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
