<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Sie müssen zählen, wie viele nicht leere Zeilen ein bestimmter Text hat.
</p>

<p>Eine leere Zeile ist eine Zeile ohne Symbole oder eine Zeile, die nur Leerzeichen enthält.</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Ein Text <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Eine ganze Zahl <span>{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
